body {
    margin:0;
}
table {
    border-spacing: 8px;
    width: 100%;
}
td {
    padding: 0px 0px 12px;
    max-width:600px;
    text-align: center;
}

img {
    border:0;
    
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    padding-bottom: 60px;
    text-align: center;
}
.main {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    font-family: sans-serif;
    color: #4a4a4a;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
}

.mini {
    color:black; 
    padding-top:0px;
    padding: 8px;   
}
.two-columns {
    text-align: center;
}
.two-columns .column {
    width: 100%;
    max-width: 230px;
    display: inline-block;
    vertical-align: top;
}
.breakdown {
    border-collapse: collapse;
    width: 25em;
    background-color: #d2dae2;
    border-radius: 25px;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .15);
    margin: 25px auto;
}
.breakdown thead tr td {
    font-size:16px;
    letter-spacing: 1px;
    font-weight: bold;
    color:#5352ed;
    padding: 8px;
    text-align: left;
    border-bottom:1px dashed grey;
}
.breakdown tfoot tr td {
    font-size:16px;
    padding-right: 8;
    letter-spacing: 1px;
    font-weight:bold;
    color:green;
    padding: 8px;
    text-align: left;
    border-top:1px dashed grey;
}
.breakdown tbody tr td {
    color: #1e272e;
    padding: 8px;
    text-align: left;
}
.payment {
    border-collapse: collapse;
    background-color: #bef1f3;
    border-radius: 25px;
    padding: 8px;
}
.payment thead tr {
    padding: 8px;
    font-weight: bolder;
    color: #273c75;
}
.payment tbody tr td {
    padding:8px;
}
.payment tfoot tr td {
    padding: 8px;
    text-align: center;
}
.driver {
    text-align:center;
    margin-left: 5px;
    padding-left: 8px;
}
.driver a {
    padding: 8px;
    color:#eb3b5a;
    border: 1px solid #eb3b5a;
    border-radius: 25px;
    text-decoration: none;
}
.driver tr {
    text-align: center;
    padding:8px;
}

.map-info {
    background-color: black;
    color:white;
    border-radius: 25px;
    width: 600px
    max-width: 100%;
}
.footer {
    text-align: center;
    background-color: black;
    color:white;
    height: 15px;
}
.footer td, .footer a{
    color:white;
    text-decoration: none;
    font-size:x-small;
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 600px!important;
        max-width:600px!important;
    }
}